<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>Admin Interface</title>
    <style>
        .navbar {
            background-color: #5a6365;
            overflow: hidden;
        }
        
        /* Style for the links in the selection bar */
        .navbar a {
            float: left;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
    
        /* Style for the active link in the selection bar */
        .navbar a.active {
            background-color: #8cb2f3;
            color: white;
        }
        /*Style for the main page*/
        main{
            margin: 20px auto;
            text-align: center; 
        }
        table{
            margin: 50px auto;
        }
        table, th, td{
            border-collapse: collapse;
            border: 1px solid #000
        }
        th, td{
            padding: 5px;
        }

    </style>
</head>
<body>

    <div class = "navbar">
        <a href="/">Home</a>
		<a href="/about">About</a>
    </div>
    <main>
        <h2>Our Sales Associates</h2>
        <div>
            <input placeholder="search by name"
            id="search-input">
            <button id="search-btn">Search</button>
        </div>
        <table id="table">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Commission</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
        </table>
        <tbody></tbody>
        <label>Name</label>
        <input type="text" id="name-input">
        <label>Password</label>
        <input type ="text" id="password-input">
        <button>Add New Employee</button>
    </main>
    <script src="adminInterface.js"></script>
</body>
</html>