<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Interface</title>
    <style>
        .navbar {
            background-color: #5a6365;
            overflow: hidden;
        }
        
        /* Style for the links in the selection bar */
        .navbar a {
            float: left;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        
        /* Style for the active link in the selection bar */
        .navbar a.active {
            background-color: #8cb2f3;
            color: white;
        }
    </style>
</head>
<body>
    <div class = "navbar">
        <a href = "/logout">Logout</a>
    </div>
</body>
</html>