<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<title>Enter Quote</title>
	<style>
	</style>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">WebSiteName</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li class="active"><a href="/enterSalesQuote">Enter Sales Quote</a></li>
				<li><a href="/finalizeQuote">Finalized Quotes</a></li>
				<li><a href = "/logout">Logout</a></li>
			</ul>
		</div>
	</nav>

	<!-- The content of the website -->
	<h2>Create a New Quote For Customer:</h2>
	<label>Select customer:</label>
	<select name="Customer Name" id="customerName">
		<% for(let i = 0; i < locals.customers.length; i++) { %>
			<option value="<%=locals.customers[i].name%>"><%=locals.customers[i].name%></option>
		<%}%>
	</select>
	<!--allow employee to create a quote; quote consists of the customer id, the employee id, the customers email, the customers payment info, the price, and a description-->
	<form action="/enterSalesQuote" method="post">
		<!--create a new line-->
		<br>
		<label>Customer Email:</label>
		<input type="text" name="customerEmail" id="customerEmail" placeholder="Customer Email">
		<br>
		<label>Customer Payment Info:</label>
		<input type="text" name="customerPaymentInfo" id="customerPaymentInfo" placeholder="Customer Payment Info">
		<br>
		<label>Price:</label>
		<input type="text" name="price" id="price" placeholder="Price">
		<br>
		<label>Description:</label>
		<input type="text" name="description" id="description" placeholder="Description">
		<br>
		<input type="submit" value="Submit">
	</form>	
	<p></p>
</body>
</html>
