<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<title>Quote Service</title>
	<style>
		.h1{
			color: teal;
		}
		.h4{
			color: teal;
		}
	</style>
</head>
<body>
	<!-- The selection bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Plant Repair Services</a>
			</div>
			<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<% if (locals.loggedOn && locals.level == 'employee') { %>
				<li><a href="/enterSalesQuote">Enter Sales Quote</a></li>
				<li><a href="/finalizeQuote">Finalized Quotes</a></li>
				<li><a href="/convertQuote">Convert to Purchase Order</a></li>
				<li><a href = "/logout">Logout</a></li>
			<% } else if (locals.loggedOn && locals.level == 'admin') { %>
				<li><a href="/adminAssociates">Sales Associates</a></li>
				<li><a href="/adminQuotes">Quotes</a></li>
				<li><a href = "/logout">Logout</a></li>
			<% } else { %>
				<li class="login"><a href = "/login">Login</a></li>
			<% } %></a>
			</ul>
		</div>
	</nav>
	  </div>
	<!-- The content of the website -->
	<h1 class = "h1">Welcome to Plant Repair Services!</h1>

	<p>Since 2023, Plant Repair Services has been working 
		with customers across the globe!
		Our employees can help you set up a quote today!
	</p>
	<h4 class="h4">get a quote today!</h4>
</body>
</html>
