<!DOCTYPE html>
<html>
<head>
	<title>My Website</title>
	<style>
		/* Style for the selection bar */
		.navbar {
			background-color: #5a6365;
			overflow: hidden;
		}
		
		/* Style for the links in the selection bar */
		.navbar a {
			float: left;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
		}
		
		/* Style for the active link in the selection bar */
		.navbar a.active {
			background-color: #8cb2f3;
			color: white;
		}
	</style>
</head>
<body>
	<!-- The selection bar -->
	<div class="navbar">
		<a class="active" href="#">Home</a>
		<a href="/about">About</a>
		<% if (locals.loggedOn && locals.level == 'employee') { %>
			<a href="/enterSalesQuote">Enter Sales Quote</a>
			<a href="/finalizeQuote">Finalized Quotes</a>
			<a href = "/logout">Logout</a>
		<% } else if (locals.loggedOn && locals.level == 'admin') { %>
			<a href="/admin">Admin Interface</a>
			<a href = "/logout">Logout</a>
		<% } else { %>
			<a href = "/login">Login</a>
		<% } %></a>
	</div>

	<!-- The content of the website -->
	<h1>Welcome to my website!</h1>


	<p>This is some sample text for my website. hello
		
	</p>
</body>
</html>
