<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .logininfo{
            margin: 0;
            text-align: center;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <center><h1>Login to Quote Service</h1></center>
    <form action="/login" method="POST">
        <div style="text-align: center;">
            <label><%= locals.warning %></label>
        </div>
        <div class="logininfo">
            <label>Username</label>
            <input type="text" placeholder="Enter Username Here" name="username" value="<%= locals.username %>" required></br>
            <label>Password</label>
            <input type="password" placeholder="Enter Password Here" name="password" value="<%= locals.password %>" required></br>
            <button type="submit">Login</button>
          </div>
    </form>
</body>
</html>