<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .logininfo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #b9e7e7;
        }
    
        .h1{
            font-size: 20px;
            color: teal;
            margin-bottom: 20px;
        }
        .form{
            display: flex;
            flex-direction: column;
            background-color: white;
        }
        .input{
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            background-color: white;
            width:200px;
            gap: 20px;
            padding: 10px;
            border: none;             
            border-bottom: 1px solid gray
        }
        .button{
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding: 50px;
            background-color: white;
            width:200px;
            gap: 20px;
            padding: 5px;
            border: none;
            background-color: teal;
            cursor: pointer;
            color: white;
        }        
    </style>
</head>
<body>
    <form class ="form"action="/login" method="POST">
        <div class="logininfo">
            <h1 class="h1">Please Login:</h1>
            <div style="text-align: center;">
                <label><%= locals.warning %></label>
            </div>
            <input class="input" type="text" placeholder="Enter Username Here" name="username" value="<%= locals.username %>" required></br>
            <input class="input" type="password" placeholder="Enter Password Here" name="password" value="<%= locals.password %>" required></br>
            <button class="button" type="submit">Login</button>
          </div>
    </form>
    </div>
</body>
</html>